<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsp.scl.sdm.listpad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListPad">
        <activity
            android:name=".Actvity.DetalheItemActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.CadastroItemActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.ListaItemActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.DetalheListaActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.CadastroListaActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.ListaCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.DetalheCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.CadastroCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".Actvity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>